@use '../util' as *;

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  // background-image: url('../../../images/bg-pattern-desktop.svg');
  // background-repeat: no-repeat;
}

.visually-hidden {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
