@use '../util/' as *;

.content {
  padding: 0 rem(25);

  @include breakpoint-up(medium) {
    padding: 0 rem(60);
  }
}

.main {
  display: flex;
  flex-direction: column-reverse;

  @include breakpoint-up(medium) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
