@use '../util/' as *;

.header {
  padding: rem(24) 0;

  @include breakpoint-up(medium) {
    padding: rem(35) 0;
  }

  @include breakpoint-up(large) {
    padding: rem(50) 0;
  }
}

.header__logo {
  height: rem(18);

  @include breakpoint-up(medium) {
    height: rem(35);
  }
}
